body {
    background-color: #ffffff;
    color: #111111;
}

ul, ol {
    background: #ffffff;
    padding: 0.5em 0.5em 0.5em 2em;
    border: outset 1px #ffffff;
}

ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}

h1 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #ccc;
    border-bottom: 1px dashed #000000;
    color: #000000;
}

h2 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #000000;
    border-bottom: 1px solid #000000;
}

h3 {
    padding: 0 .5em;
    border-left: 6px solid #000000;
    border-bottom: 1px solid #000000;
}

h4 {
    padding: 0 .5em;
    border-left: 6px solid #000000;
    border-bottom: 1px solid #000000;
}

a {

}
