body {
    background-color: #6170b6;
    color: #cccccc;
}

ul, ol {
    background: #6170b6;
    padding: 0.5em 0.5em 0.5em 2em;
    border: outset 1px #ffffff;
}

ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}

h1 {
    padding: 0 .5em;
    border-left: 6px solid #ccc;
    border-bottom: 1px dashed #f5f4cd;
    color: #f5f4cd;
}

h2 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #f5f4cd;
    border-bottom: 1px solid #f5f4cd;
}

h3 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #f5f4cd;
    border-bottom: 1px solid #f5f4cd;
}

h4 {
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #f5f4cd;
    border-bottom: 1px solid #f5f4cd;
}

a {

}